<!-- About Section -->
<section class="success" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Sobre</h2>
                <hr class="star-light">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <p style="text-align:justify;">
                    Saudações. Meu nome é Leonardo Rifeli, resido em Araraquara (SP) e tenho 19 anos. Atualmente atuo como Desenvolvedor Web (especialmente com PHP) na empresa Wab, estou cursando o primeiro semestre de Engenharia de Computação na instituição Faculdades Logatti.
                </p>

                <p style="text-align:justify;">
                    Desde que entrei na área, sou apaixonado por software e hardware, sempre procuro aprimorar e transmitir meus conhecimentos. <br/> O intuito desse site é exatamente esse.
                </p>
            </div>
        </div>
    </div>
</section>
